<nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" routerLinkActive="active" routerLink="/">Home</a></li>
      <li class="navbar-item"><a class="navbar-link" routerLinkActive="active" routerLink="/tv">TV List</a></li>
      <li class="navbar-item"><a class="navbar-link" routerLinkActive="active" routerLink="/about">About Us</a></li>
      <li class="navbar-item"><a class="navbar-link" routerLinkActive="active" routerLink="/contact">Contact Us</a></li>
    </ul>
</nav>
